<div class="content-wrapper">
    <div class="portfolios-wrapper">
        <div class="portfolios-grid">
            <div class="portfolios-grid-item">
                <div class="portfolio-picture-wrapper">
                    <img src="{{}}">
                </div>
                <div class="portfolio-picture-text">
                    <p>Some beautiful text</p>
                </div>
            </div>
        </div>
    </div>
</div>
